# Operadores

In [ ]:
print("hello")

Hello World

In [ ]:
4+5

9

5*5

In [ ]:
5**5

In [ ]:
40/3

13.333333333333334

In [ ]:
40//3

13

# Ordem de Precedência

- Parêntesis
- Expoentes
- Multiplicações e Divisões
- Somas e Subtrações

## Exemplos

### Calcule a média simples das notas de três provas

- N1 = 8,5
- N2 = 3,5
- N3 = 9,3

### Qual a área de:
- O colume de uma esfera de cinco metros

In [ ]:
#média
media = (8.5 + 3.5 + 9.3)
print(media)

#área
area = (4/3) * 3.14 * (5**3)
print(area)

21.3
523.3333333333334

# Exercícios

### 1. Calcule:
$$
\begin{aligned}
x & = 15 - 5 + 3^2 \\
\end{aligned}
$$

### 2. Calcule:
$$
\begin{aligned}
x & = 20 + 5 / 7 * 9
\end{aligned}
$$

### 3. Calcule:
$$
\begin{aligned}
x & = 17 * 3 - 4^2/3
\end{aligned}
$$

In [ ]:
#1
x = 15 - 5 + 3**2
print(x)
#2
x = 20 + 5/7 * 9
print(x)
#3
x = 17 * 3 - 4**2/3
print(x)

19
26.42857142857143
45.666666666666664

# Variáveis

In [ ]:
x = 300

In [ ]:
type(x)
#toda variável em python é um objeto e todo código um método

int

In [ ]:
# float
x = 323.23646234238424823
print(x)

323.23646234238424

In [ ]:
# String
x = "anna"
print(x)

anna

In [ ]:
y = x
print(y)

anna

In [ ]:
a = b = c = d = 1000
print(id(a))
print(id(b))
a = 1
#o objeto com valor 1000 é criado e todas as varíaveis acima apontam para ele
#mesmo assim a id de ambas são diferentes por que o interpretador, para otimizar
#o programa, para integrais em um escopo de [-5, 256] vai referênciar o mesmo objeto
print(id(a))
#1000 não vai ser mais alocado e será recolhido pelo garbage colector

140444345545936
140444345545936
94112232073728

In [ ]:
globals()
locals()
dir()

## Exercícios

### 1. Crie uma variável que seja que calcule o ano em que você nasceu, utilizando operadores matemáticos e sua variável `x`.

### 2. Crie uma variável para o preço de três barras de chocolae, usando a variável `y`.


### 3. Crie uma variável que contenha o seu nome 10 vezes, utilizando a variável `nome`.

In [ ]:
#1
x = 20
ano = 2020 - x
print(ano)

#2
y = 3* 3.99
print(y)

#3
nome = "anna\n"
nome = 10 * nome
print(nome)

2000
11.97
anna
anna
anna
anna
anna
anna
anna
anna
anna
anna

In [ ]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Nomes de variáveis

- Camel Case: a partir da segunda palavras, a primeira letra é maiúscula - use para **VARIÁVEIS**.
  - numberOfCollegeGraduates

- Pascal Case: identico ao Camel Case, mas com a primeira letra maiúscula - use para **CLASSES**.
  - NumberOfCollgeGraduates
   
- Snake Case: paalvras separadas por underline - use para **FUNCÕES**.
  - number_of_college_graduates

In [ ]:
y = 3 / 3
print(type(y))
idade = 34.33
print(type(idade))
int(idade)

<class 'float'>
<class 'float'>

34

## Booleanos

In [72]:
4 > 5

False

In [73]:
4 == 4

True

In [75]:
4 != 4.0

False

In [76]:
'texto' == 'TEXTO'

False

In [77]:
True == 1

True

In [78]:
False == 0

True

In [79]:
10 ** 2 <= 100

True

In [80]:
2 != "2"

True

In [81]:
True and True

True

In [82]:
True and False

False

In [83]:
False or True

True

In [1]:
False or False

False

In [3]:
possuiHabilitacao = True
idade = 18
(idade >= 18) and (possuiHabilitacao)

True

### 1. Verifique se a expressão $2^4$ é igual a $16$

### 2. A média mínima para ser aprovado é $7$, faça um programa que verifique se um aluno foi aprovado com as notas $3$, $8$ e $9.3$.

### 3. Para tirar uma carteira de motorista é necessário ter pelo menos 18 anos e ter pelo menos $1000$ reais para pagar as taxas. Veirfique se João pode ter um carteira de motorista sanbendo que ele tem 19 anos e saldo de $1500$ reais.

In [6]:
#1
print(2**4 == 16)
#2
n1 = 3
n2 = 8
n3 = 9.3
print((n1+n2+n3/3)>=7)
#3
def tirar_carteira(idade, saldo):
  if(idade >= 18 and saldo >= 1000):
    return True
  else:
    return False

print(tirar_carteira(19, 1500))

True
True
True

## String

In [7]:
nome = "Anna"
sobrenome = "Pinto"
profissao = "Biologa"

print(nome, sobrenome)
print(nome + " é " + profissao)

Anna Pinto
Anna é Biologa

In [9]:
print(nome[0])
print(nome[-1])

A
a

In [10]:
len(nome)

4

In [13]:
nome.split("n")

['A', '', 'a']

In [17]:
familia = "Pedro, João, Elane"
familia.split(", ")

['Pedro', 'João', 'Elane']

In [25]:
valor = "9,50"
valor = valor.replace(",", ".")
float(valor)

9.5

In [79]:
nome = "Anna Clara"
nome.strip("nn")

'Anna Clara'

In [76]:
float("R$ 9,50".strip("R$ ").replace(',', '.'))

9.5

In [39]:
nome[:]

'Anna Clara'

In [40]:
nome[:3]

'Ann'

In [42]:
nome[3:5]

'a '

In [43]:
nome[2:]

'na Clara'

In [45]:
nome[2:9]

'na Clar'

In [48]:
num = "123456789"
num[1::2] #o terceiro argumento é o período

'2468'

In [54]:
nome.capitalize() #primeira letra da primeira palavras

'Anna clara'

In [55]:
nome.lower()

'anna clara'

In [56]:
nome.upper()

'ANNA CLARA'

In [57]:
nome.title() #primeira letra de cada palavra

'Anna Clara'

In [58]:
nome.swapcase()

'aNNA cLARA'

### 1. Verifique o tamanho da *string* da variável sha1_hash abaixo:

### 2. Converta a string `85,00 Kg` em uma variável do tipo float.


### 3. Com a variável `x = 'Data, Science, é, demais!'` faça o que se pede.

In [91]:
#1
sha1_hash = "b91552e0b2b2183e85a4371020ab6b9f4ef83ed0"
len(sha1_hash)

#2
kg = "85,00 Kg"
float(kg.strip("Kg").replace(",", "."))

#3
x ="Data, Science, é, demais"
### a) imprima a quantidade de caracteres na variável x
len(x)
### b) retire as vírgulas da variável
x.replace(",", "")
### c) imprima apenas os 6 primeiros caracteres da variável
x[:6]
### d) imprima todos os caracteres, mostrando um e pulando um
x[::2]
### transforme todas as letras em maiúsculas
x.upper()
### transforme todas as letras em minúsculas
x.lower()

'data, science, é, demais'

# Estruturas de Dados

## Listas

In [93]:
lista = []
type(lista)

list

In [98]:
lista = ["Pedro", "Freitas", 20]
print(lista[2])

20

In [107]:
def foo():
    yield 10
    yield 20